@font-face {
  font-family: "Circular";
  font-weight: 400;
  src: url("./fonts/Circular/Circular_Air-Book.woff") format("woff"),
  url("./fonts/Circular/Circular_Air-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 700;
  src: url("./fonts/Circular/Circular_Air-Bold.woff") format("woff"),
  url("./fonts/Circular/Circular_Air-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  font-weight: 300;
  src: url("./fonts/Circular/Circular_Air-Light.woff") format("woff"),
  url("./fonts/Circular/Circular_Air-Light.ttf") format("truetype");
}

body {
  font-family: "Circular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.link {
  font-size: 14px;
  color: #383838;
  text-decoration: none;
  padding: 10px;
  margin-left: 5px;
}

